.about-item {
  margin-top: 4rem !important;
  .card-item {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.077);
  }
  .active-card-item {
    background-color: $primary-color;
    color: #fff;
  }
  .col-lg-6 > div {
    border-radius: 8px;
    min-height: 155px;
    height: 100%;
    padding: 2rem;
    cursor: pointer;
  }
  .col-lg-6 {
    &:nth-child(3),
    &:nth-child(4) {
      margin-top: 1.8rem;
    }
  }
  .col-lg-6 > div > h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.5;
  }
  .col-lg-6 > div > p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}
.about-description {
  margin-left: 8rem;
  h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: $black;
    max-width: 300px;
    line-height: 1.4;
  }
  p {
    font-size: 1.8rem;
    line-height: 3rem;
    color: $tertiary-color;
    margin-top: 2.4rem;
    margin-bottom: 4rem;
    max-width: 625px;
  }
  a {
    border: 1px solid $primary-color;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    color: $primary-color;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    transition: all 0.3s;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(98, 68, 198, 0.829);
      border-color: rgba(98, 68, 198, 0.829);
      z-index: -1;
      transform-origin: right;
      transform: scaleX(0);
      // dont ever forget to write 'transform' to transition property --> na likhle kaj korbe na
      transition: transform 0.3s ease-in;
    }
    &:hover {
      color: $white;
    }
    &:hover::after {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
