// real world project korar somoy var er name likahr somoy project er nam like var na likhba like--- $nattto-primary-color
$primary-color: #6344c6;
// color for heading
$secondary-color: #313131;
// color for paragraph
$tertiary-color: #626262;
$footer-bg: #eeebf2;
$black: #121112;
$white: #fff;
